/*.odd-row {
    background: white;
}

.odd-row:hover {
    background: white;
}

.even-row {
    background: white;
}

.even-row:hover {
    background: #ebf3f5;
}*/

.rocket-row {
    background: white;
    color: #787373;
}

.rocket-row:hover {
    background: #ebf3f5;
}