.header-cell {
    border-bottom: 1px solid #1c46aa;
    color: black;
    font-weight: 400;
}

.header-cell.sortable {
    cursor: pointer;
}

.header-cell:hover {
    color: #1c46aa;
}

.header-cell i {
    margin-left: 12px;
    color: #2764f5;
}